<%= simple_form_for [ @chantier, @tache ]  do |f| %>
  <%= f.input :objet %>
  <%= f.input :description %>
  <%= f.input :note %>
  <%= f.input :categorie %>
  <%= f.input :priorite %>
  <%= f.input :environnement %>
  <div class="d-flex format-champ">
    <%= f.datetime_field :date_debut%>
    <div class="pl-2 format-champ">
      <%= f.datetime_field :date_fin %>
    </div>
  </div>
  <%= f.input :jalon_anomalie %>
  <%= f.input :dependance %>
  <%= f.input :equipement %>
  <%= f.input :equipement_description %>
  <%= f.input :realisation %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Valider", class: "btn btn-primary mb-1 btn-sm button-recherche", style: "width: 100%" %>
<% end %>

