<%= simple_form_for [ @chantier, @tache ]  do |f| %>

    <div class="row pt-3">
      <div class="col-sm-9">
        <%= f.input :objet, :placeholder => 'Objet', :label => false %>
        <%= f.input :description, :placeholder => 'Description', :label => false %>
        <%= f.input :note, :placeholder => 'Note', :label => false %>
        <%= f.input :priorite, :placeholder => 'Priorite', :label => false %>
        <div class="d-flex justify-content-between">
          <%= f.datetime_field :date_debut, class: "format-champ"%>
          <div class="pl-2">
            <%= f.datetime_field :date_fin, class: "format-champ format-champ-droite" %>
          </div>
        </div>
        <%= f.input :equipement %>
        <%= f.input :equipement_description, :placeholder => 'Description équipement', :label => false %>
        <%= f.input :realisation %>
        <%= f.submit "Valider", class: "btn btn-primary mb-1 btn-sm button-recherche", style: "width: 100%" %>
      <% end %>
    </div>
  </div>

