<div class="container">
  <div class="rows"><div><h1>Bonjour <%= @user.prenom  %></h1></div>
</div>
<div class="tblx-dash-jour d-flex justify-space-between">
  <div>
    <p class="titre-chantier"><i class="fas fa-tools p-1"></i><%= link_to "Tes chantiers", chantiers_path, class: "couleur-chantier" %></p>
    <div class="d-flex">
      <div class="card-chantiers">
        <div>
          <p class="chantier-cours"><%= @chantiersencours %></p>
          <p class="desc-chantier-cours">en cours</p>
        </div>
        <div>
          <p class="chantier-venir"><%= @chantiersavenir %></p>
          <p class="desc-chantier-venir">en attente</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ctnr-meteo">
    <p class="titre-meteo"><i class="fas fa-cloud-sun p-1"></i>ta Météo</p>
    <div>
      <div class="card-meteo">
        <img class="img-meteo">
        <div id="meteo">
          <div id="ville">
            <% if @user.adresse %>
            <%= Geocoder.search(@user.adresse)[0].data["address"]["city"] %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Progress bar -->
<div class="chargew dflex">
  <p class="titre-chargew"><i class="fas fa-user-cog p-1"></i>ta charge de travail</p>
  <div>
    <div class="progress" style="min-width: 40px">
      <div class="progress-bar" role="progressbar"
        aria-valuenow="<%= @charge_travail_pourcentage_semaine %>"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: <%= @charge_travail_pourcentage_semaine %>%;"><%= @charge_travail_pourcentage_semaine %> %
      </div>
    </div>
    <!-- Taches en retard -->
    <hr class="ligne-separate">
    <div class="ctnr-alertes">
      <p class="titre-alertes"><i class="fas fa-exclamation-triangle p-1"></i>tes alertes</p>
      <div>
        <div class="card-alerte d-flex m-2">
          <% @taches_retard.each do |tache|  %>
          <p class="alerte-tache m-2"> <%= tache.objet %> </p>
          <% end %>
          <div>
            <button type="button" class="btn btn-outline-warning btn-sm justify-content-center"><i class="sms fas fa-sms"></i></button>
          </div>
        </div>
        <hr class="ligne-separate">
        <!-- Taches du jour -->
        <div>
          <div class="ctnr-taches">
            <p class="titre-taches"><i class="fas fa-wrench p-1"></i>tes tâches du jour</p>
            <div>
              <div>
                <% @taches_jour.each do |tache|  %>
                  <p class="desgn-tache m-2"> <%= tache.date_fin %> </p>
                  <% if tache.date_fin < @datejournow %>
                    <p><%= @tache_minutes_restantes = ((@datejournow.to_i - tache.date_fin.to_i.in_time_zone("+02:00")) / 60).round %></p>
                  <% else %>
                    <p><%= @taches_minutes_depasse = ((tache.date_fin - @datejournow) / 60).round %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
