<div class="mbottom justify-space-between">
    <div class="">
      <%= link_to logo = (image_tag 'multiple', class: "icone-menu"), root_path %>
    </div>
    <hr class="icone-separate">
    <div>
      <%= link_to logo = (image_tag 'bell', class: "icone-menu"), root_path %>
    </div>
    <hr class="icone-separate">
    <div>
      <%= link_to logo = (image_tag 'dashboard-level', class: "icone-menu"), root_path %>
    </div>
    <hr class="icone-separate">
    <div>
      <%= link_to logo = (image_tag 'flag', class: "icone-menu"), root_path %>
    </div>
    <hr class="icone-separate">
    <div>
      <%= link_to logo = (image_tag 'tournevis', class: "icone-menu-2"), root_path %>
    </div>
</div>


