<div class="mbottom justify-space-between fixed-bottom">
  <div class="">
    <%= link_to logo = (image_tag 'multiple.png', class: "icone-menu"), clients_path %>
  </div>
  <hr class="icone-separate">
  <div>
    <%= link_to logo = (image_tag 'bell.png', class: "icone-menu"), new_client_path %>
  </div>
  <hr class="icone-separate">
  <div>
    <%= link_to logo = (image_tag 'dashboard-level.png', class: "icone-menu"), chantiers_path %>
  </div>
  <hr class="icone-separate">
  <div>
    <%= link_to logo = (image_tag 'flag.png', class: "icone-menu"), new_chantier_path %>
  </div>
  <hr class="icone-separate">
  <div>
    <%= link_to logo = (image_tag 'tournevis.png', class: "icone-menu-2"), root_path %>
  </div>
</div>
