
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to logo = (image_tag 'bricebricole.jpg', class: "logo"), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= link_to "Tableau de bord", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Mes clients", clients_path, class: "dropdown-item" %>
          <%= link_to "Mes chantiers", chantiers_path, class: "dropdown-item" %>
          <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>

      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
