<%= simple_form_for @client do |f| %>
  <div class="form-show col-sm-9 mt-4 pt-4">
    <div class="row">
      <div class="col-sm-9 case">
        <%= f.input :categorie, :collection => ['Entreprise', 'Particulier'], :prompt => "Catégorie", :label => false %>
        <%= f.input :entreprise, :placeholder => 'Nom Entreprise', :label => false %>
        <%= f.input :fidelite, :placeholder => 'Fidélité', :label => false %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex case">
          <%= f.input :nom, :placeholder => 'Nom', :label => false %>
            <div class="champ">
              <%= f.input :prenom, :placeholder => 'Prénom', :label => false %>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex case">
          <%= f.input :telephone_1, :placeholder => 'Fixe', :label => false %>
            <div class="champ">
              <%= f.input :telephone_2, :placeholder => 'Portable', :label => false %>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 case">
        <%= f.input :email, :placeholder => 'Email', :label => false %>
        <%= f.input :address, :placeholder => 'Adresse', :label => false %>
        <%= f.input :information, :placeholder => 'Information', :label => false %>

        <%= f.submit "Valider", class: "btn-outline-dark mt-2 btn-sm", style: "width: 100%" %>
      </div>
    </div>
    <% end %>
  </div>
