<%= simple_form_for @client do |f| %>
  <div class="form-show col-sm-9 mt-4 pt-4">
    <div class="row">
      <div class="col-sm-9 case">
        <%= f.input :entreprise %>
        <%= f.input :fidelite %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex case">
          <%= f.input :nom %>
            <div class="champ">
              <%= f.input :prenom %>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex case">
          <%= f.input :telephone_1 %>
            <div class="champ">
              <%= f.input :telephone_2 %>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 case">
        <%= f.input :email %>
        <%= f.input :adresse %>
        <%= f.input :categorie %>
        <%= f.input :information %>
        <%= f.button :submit %>
      </div>
    </div>
    <% end %>
  </div>
