<div class="container">
  <h1>Mes clients</h1>

  <%= form_tag clients_path, method: :get do %>
    <%= select_tag "categorie",
    options_for_select(@categories)
    %>
    <%= submit_tag "Rechercher", class: "btn btn-primary" %>
  <% end %>

  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">

          <% @clients.each do |client|  %>

              <div class="card-header d-flex justify-content-between">
                <%= client.nom %>
                <%= client.prenom %>
                - <%= client.categorie %>
                <%= link_to 'Détails', client_path(client) %>
              </div>

            <% end  %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= link_to new_client_path do %>
    <button type="button" class="btn btn-outline-dark">Ajouter un nouveau client</button>
    <% end %>
  </div>
    <div>
    <%= link_to "Retour", root_path %>
  </div>

</div>

