    <h1> Listes des chantiers </h1>
<div class="container">


  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <% @chantiers.each do |chantier|  %>
            <div class="card-header d-flex justify-content-between">
              Nom du chantier: <%= chantier.nom %>
              Priorité: <%= chantier.priorite %>
              Avancement: <%= chantier.avancement %>
              Statut: <%= chantier.statut %>
              <%= link_to "voir", chantier_path(chantier)  %>
              <%= link_to "Modifier", edit_chantier_path(chantier)  %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
      <div>
    <%= link_to "Retour", root_path %>
  </div>
</div>
