<div class="container">
  <div class="rows"><div><h1>Chantier <%= @chantier.reference %></h1></div>
  <div class="user d-flex justify-content-center">
    <h3><%= @chantier.client.prenom %></h3>
    <h3 class="ml-2"><%= @chantier.client.nom %></h3>
  </div>
  <div class="tblx-progr-jour d-flex justify-space-between">
    <div>
      <p class="titre-chantier"><i class="fas fa-tools p-1"></i><%= link_to "Informations", chantiers_path, class: "couleur-chantier" %></p>
      <div class="d-flex">
        <div class="card-information">
          <div>
            <p class="info"><%= @chantier.nom %></p>
            <p class="info"><%= @chantier.description %></p>
            <p class="info"><%= @chantier.date_debut %></p>
            <p class="info"><%= @chantier.date_fin_estimee %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="ctnr-progression">
      <p class="titre-progression"><i class="fas fa-percentage p-1"></i>Progression</p>
      <div>
        <div class="card-progression">
          <% if @chantier.taches != [] && @taches_terminees %>
          <p><%= @chantier_avancement %> %</p>
          <% else %>
          <p>"0 %"</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr class="ligne-separate">
  <div class="tache">
    <p class="titre-tache"><i class="fas fa-tasks p-1"></i>liste des tâches</p>
    <% if @chantier.taches != [] %>
    <% @chantier.taches.each do |tache| %>
    <p class="desgn-tache"><%= tache.objet %> - <%= tache.description %></p>
    <% end %>
    <% end %>
    <%= link_to new_chantier_tach_path(@chantier) do %>
    <button type="button" class="btn-tache btn btn-info">Ajout tâche</button>
    <% end %>
  </div>
  <hr class="ligne-separate">
  <p class="titre-photo"><i class="fas fa-images p-1"></i>Photos</p>
  <div>
    <% if @chantier.photos != [] %>
    <% @chantier.photos.each do |photo| %>
    <p class="ctn-photo"><%= cl_image_tag photo.key, height: 300, width: 340, crop: :fill %></p>
    <% end %>
    <% end %>
  </div>
  <div>
    <hr class="ligne-separate">
    <p class="adresse"><i class="fas fa-map-marked-alt p-1"></i>Se situe</p>
    <div id="map" style="width: 100%; height: 600px;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
      data-markers = "<%= @markers.to_json %>"
    > </div>

  </div>
  <div>
  <p class="btn mb-1 btn-sm"> <%= link_to "Modifier", edit_chantier_path() %></p>
  <p class="btn mb-1 btn-sm"> <%= link_to "Retour", chantiers_path() %> </p>
</div>
</div>
</div>
