<!DOCTYPE html>
<html>
  <head>
    <title>Bricebricole</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% if current_page?(dashboard_path) %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/mbottom' %>
    <% else %>
      <div class="content">
        <%= yield %>
      </div>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </body>
</html>
